* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

h1{
    padding: 10px;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #666060;
    color: white;
    height: 150px;
    position: relative;
}

nav ul{
    position: absolute;
    background-color: #000000;
    padding: 0;
    list-style: none;
    display: flex;
    margin: 0;
    width: 100%;
    bottom : 0;
}

nav li{
    flex : 1;
    text-align: center;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    padding: 10px;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    min-height: 0;
    font-size: small;
    flex: 1;
}

main{
    padding: 10px;
    background-color: rgba(168, 168, 168, 0.267);
}
aside{
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

footer{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    flex-shrink: 0;
}